.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  background-color: transparent;
  color: var(--secondary-color);
  overflow-x: auto;
}

.logo-area {
  text-align: center;
}

.logo-nav {
  height: auto;
}

.navbar-links {
  display: flex;
  gap: 30px;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.nav-link:hover {
  transition: 0.2s;
  opacity: 0.7;
}

.nav-link.ativo {
  text-decoration: underline;
  color: var(--primary-color);
}

.user-profile .user-icon {
  background-color: var(--card-red);
  color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.user-profile .user-icon:hover {
  transition: 0.2s;
  transform: scale(1.05);
}

@media (max-width: 500px) {
  .logo-nav {
    max-width: 4em;
  }

  .navbar-links {
    gap: 15px;
  }
}